<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eve echoes industrial calculator</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
</head>
<body>
<div class="container">
    <h3>Eve Echoes Industrial Calculator</h3>
</div>
<!-- Form -->
<div class="container">
    <form action="/sendBuilder" method="POST" enctype="multipart/form-data">

        <label for="builder">Builder skills</label>
        <input
                type="text"
                placeholder="0"
                class="u-pull-left"
                name="builder1"
                style="width: 30px; margin-right: 5px"
        />
        <input
                type="text"
                placeholder="0"
                class="u-pull-left"
                name="builder2"
                style="width: 30px; margin-right: 5px"
        />
        <input
                type="text"
                placeholder="0"
                class="u-pull-left"
                name="builder3"
                style="width: 30px"
        />
        <br/>
        <br/>
        <br/>

        <label for="blueprint">Blueprint</label>
        <select class="u-full-width" name="blueprint">
            {% for key, value in bpList.items() %}
                <OPTION value={{ key }}>{{ value.name }}</option>
            {% endfor %}
        </select>

        <br/>
        <br/>

        <label for="market_prices">Market prices file (stats.csv)
        </label>
        <input
                type="file"
                placeholder="Market prices file (stats.csv)"
                class="u-full-width"
                name="market_prices"
        />

        <br/>
        <br/>
        <input type="submit" value="Calculate" id="calc_btn"
               style="background-color: #0FA0CE; color: white"/>
        <br/>

        <br/>
        <label for="result">Result</label>
{#        <input#}
{#                type="text"#}
{#                placeholder="..."#}
{#                class="u-full-width"#}
{#                name="result"#}
{#                value="{{ sum }}"#}
{#                readonly#}
{#        />#}
        <label
            class="u-full-width">
            <textarea
                placeholder="..."
                name="result"
                readonly
                class="u-full-width"
                style="height: 250px">
            {{sum}}
            </textarea>
        </label>
        <br />
        <br />
        {% if error %}
        <div class="alert" style="color: red">
          {{ error }}
        </div>
        {% endif %}
    </form>
</div>
</body>
</html>

